init-author-name="MRDGH2821"
init-author-url="https://bit.ly/mrdgh2821"
lockfile-version=3
message="chore: release %s"
sign-git-tag=true
git-tag-version=false
auto-install-peers=true
public-hoist-pattern[]=*@sapphire*
